In [1]:
import pandas as pd
import numpy as np
import pickle
import math

with open('/mnt/spare8tb/all_dataframes_sequential.pkl','rb') as f:
    all_data = pickle.load(f)

with open('/home/iyad/Liquidity/shares_outstanding_data.pkl', 'rb') as f:
    shares_data = pickle.load(f)

In [2]:
window_data = all_data[6374]
window_data

            JO_Volume    JO_vw  JO_Open  JO_Close  JO_High  JO_Low  JO_n
Date
2008-06-25     8500.0  50.1851   49.900   50.8800   50.880  49.900    10
2008-06-26     6000.0  51.8417   51.690   52.2100   52.210  51.690     5
2008-06-27      700.0  51.4886   51.500   51.5200   51.520  51.340     7
2008-06-30    14100.0  51.1865   52.080   51.8800   52.080  50.830    15
2008-07-01     9893.0  52.2942   52.240   52.3400   52.430  52.210    27
...               ...      ...      ...       ...      ...     ...   ...
2023-06-02     7714.0  53.7973   54.750   53.1632   54.750  52.845   150
2023-06-05     5441.0  53.6847   53.560   53.7498   53.950  53.370    87
2023-06-06    22058.0  53.9522   53.650   54.0800   54.180  53.650   133
2023-06-07    42020.0  54.6028   54.040   54.6660   54.730  53.905   265
2023-06-08      717.0  55.1416   55.565   54.0000   55.565  54.000    23

[3596 rows x 7 columns]

In [8]:
filtered_da = pd.DataFrame(window_data)
filtered_da.reset_index(inplace=True)
shar = shares_data['NVDA']
shar

filtered_da['Date'] = pd.to_datetime(filtered_da['Date'])
shar['Date'] = pd.to_datetime(shar['Date'])



# Sort the 'shar' DataFrame by the 'Date' column
shar = shar.sort_values('Date')

daily_dates = pd.date_range(start=shar['Date'].min(), end=shar['Date'].max(), freq='D')
daily_df = pd.DataFrame(daily_dates, columns=['Date'])
# Merge and forward fill the 'Shares Outstanding' values
daily_df = pd.merge(daily_df, shar, on='Date', how='left')
daily_df['Shares Outstanding'] = daily_df['Shares Outstanding'].fillna(method='ffill')
combined_df = pd.merge(daily_df,filtered_da,on='Date')
combined_df



# num = len(window_data)
# if num == 0:
#     # If the window data is empty, return 0
#     return 0
# else:
#     Volume = window_data
#     arr = []

#     for i in np.arange(num-1):
#         # Ensure you are handling the case when no matching 'Date' is found
#         turnov_row = combined_df[combined_df['Date'] == str(window_data.index[i].date())]

#         if not turnov_row.empty:
#             turnov = turnov_row['Shares Outstanding'].values[0]
#         else:
#             # Handle the case where no match is found
#             print(f"No sharesOutstanding data found for date: {window_data.index[i].date()}")
#             turnov = 0 # Default value to avoid division by zero

#         # Proceed only if turnov is not zero
#         if turnov != 0:
#             val = Volume[i] / turnov
#             arr = np.append(arr, val)
#         else:
# #                 print(f"Warning: sharesOutstanding is zero for date: {window_data.index[i].date()}")
#             turnov = 0

#     # Check if the sum of arr is greater than zero before applying math.log
#     if sum(arr) > 0:
#         result = math.log(sum(arr))
#     else:
#         result = 0  # Avoid log of zero or negative numbers

#     return result

,Date,Shares Outstanding,NVDA_Volume,NVDA_vw,NVDA_Open,NVDA_Close,NVDA_High,NVDA_Low,NVDA_n
0,2005-01-03,2.073391e+10,1.068353e+09,0.1997,0.2032,0.1965,0.2060,0.1957,23852
1,2005-01-04,2.073391e+10,7.846225e+08,0.1896,0.1979,0.1873,0.1983,0.1843,18915
2,2005-01-05,2.073391e+10,7.251280e+08,0.1888,0.1853,0.1890,0.1913,0.1843,18441
3,2005-01-06,2.073391e+10,5.695403e+08,0.1889,0.1924,0.1872,0.1946,0.1858,13339
4,2005-01-07,2.073391e+10,7.630102e+08,0.1853,0.1876,0.1836,0.1890,0.1809,17662
...,...,...,...,...,...,...,...,...,...
5015,2024-12-05,2.484800e+10,1.715823e+08,145.2429,145.1100,145.0600,146.5400,143.9500,1149095
5016,2024-12-06,2.484800e+10,1.799514e+08,143.1441,144.6000,142.4400,145.7000,141.3100,1299130
5017,2024-12-09,2.484800e+10,1.801944e+08,138.8311,138.9700,138.8100,139.9500,137.1300,1525627
5018,2024-12-10,2.484800e+10,2.040882e+08,137.0564,139.0100,135.0700,141.8200,133.7900,1646482
5019,2024-12-11,2.484800e+10,5.047194e+07,136.7919,137.3600,136.3800,138.0500,135.2100,461877

In [ ]:
filtered_da = pd.DataFrame(window_data)
filtered_da.reset_index(inplace=True)


filtered_da['Date'] = pd.to_datetime(filtered_da['Date'])
shar['period'] = pd.to_datetime(shar['Date'])



# Sort the 'shar' DataFrame by the 'Date' column
shar = shar.sort_values('Date')

daily_dates = pd.date_range(start=shar['Date'].min(), end=shar['Date'].max(), freq='D')
daily_df = pd.DataFrame(daily_dates, columns=['Date'])
# Merge and forward fill the 'Shares Outstanding' values
daily_df = pd.merge(daily_df, shar, on='Date', how='left')
daily_df['Shares Outstanding'] = daily_df['Shares Outstanding'].fillna(method='ffill')
combined_df = pd.merge(daily_df,filtered_da,on='Date')
combined_df